@model n01443564AssignmentCumulativePart1.Models.Class
@{
    ViewBag.Title = "Course Description";
}

<h2>Course Description</h2>
<div>@Model.ClassCode : @Model.ClassName</div>
<div>Teacher name : @Model.TeacherFname @Model.TeacherLname</div>
<div>Course StartDate : @Model.StartDate</div>
<div>Course EndDate :@Model.FinishDate</div>

